#PokeModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.poke-content {
  display: flex;
  flex-direction: column;
  height: 60vh;
  margin: auto;
  margin-top: 100px;
  background-color: #fefefe;

  width: 60vw;
  outline: 1px solid black;
}

.evolves-from {
  text-decoration: underline;
  cursor: pointer;
  color: darkblue;
}

.poke-modal-header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
  margin: -1px -1px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.close-icon {
  cursor: pointer;
  vertical-align: center;
}

.poke-modal-img {
  height: 280px;
  width: 280px;
}

.poke-modal-body {
  display: flex;
  padding: 10px;
}

.info-container {
  text-align: left;
}

.img-container {
  border: 1px solid black;
  margin-right: 10px;
  border-radius: 5px;
}

.pokemon-name {
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
  margin-top: 0px;
}

.pokemon-habitat {
}

.pokemon-description {
}
